{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new blog</title>
</head>
<body>
  <form  id="CreateFormid" action="create_blog.html" method="POST">
      {% csrf_token %}
      {{ form.name.label }} : {{  form.name }}
      <br>
      {{ form.author.label }} :{{ form.author }}
      <br>
      {{ form.description.label }} : {{ form.description }}
      <br>
      <input type="submit" value="submit">
  </form>

</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquerytest.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
   $("#CreateFormid").submit(function(e){
	// prevent from normal form behaviour

      	e.preventDefault();
    	// serialize the form data

      	var serializedData = $(this).serialize();
      	$.ajax({
      		type : 'POST',
      		url :  "{% url 'blogs' %}",
      		data : serializedData,

      		success : function(response){
			//reset the form after successful submit

      			$("#CreateFormid")[0].reset();
      		},
      		error : function(response){
      			console.log(response)
      		}
      	});
   });
});

</script>

</html>